<div class="counter-list">
    <div class="row">
        <div class="indicator">
            <app-cp-bar [scale]="1" [size]="45" [progressList]="monthList"></app-cp-bar>
        </div>
        <div class="counter-block">
            <div class="value">{{months}}</div>
            <div class="label">Month</div>
        </div>
    </div>

    <div class="row">
        <div class="indicator">
            <app-cp-bar [scale]="1" [size]="45" [progressList]="dayList"></app-cp-bar>
        </div>
        <div class="counter-block">
            <div class="value">{{days}}</div>
            <div class="label">Days</div>
        </div>
    </div>

    <div class="row">
        <div class="indicator">
            <app-cp-bar [scale]="1" [size]="45" [progressList]="hourList"></app-cp-bar>
        </div>
        <div class="counter-block">
            <div class="value">{{hours}}</div>
            <div class="label">Hours</div>
        </div>
    </div>

    <div class="row">
        <div class="indicator">
            <app-cp-bar [scale]="1" [size]="45" [progressList]="minuteList"></app-cp-bar>
        </div>
        <div class="counter-block">
            <div class="value">{{minutes | number: '2.'}}</div>
            <div class="label">Minutes</div>
        </div>
    </div>

    <div class="row">
        <div class="indicator">
            <app-cp-bar [scale]="1" [size]="45" [progressList]="secondList"></app-cp-bar>
        </div>
        <div class="counter-block">
            <div class="value">{{seconds | number: '2.'}}</div>
            <div class="label">Seconds</div>
        </div>
    </div>
</div>