$container-width: 800px;

.main-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;

  // color: #00364d;
  color: #f68c0e;

  .content {
    padding: 10px;

    min-width: $container-width;

    @media only screen and (max-width: $container-width) {
      align-content: flex-start;
      min-width: auto;
      flex: 1;
    }

    .block {
      display: flex;
      flex-direction: column;

      max-width: 800px;
      
      @media only screen and (max-width: $container-width) {
        max-width: none;
      }

      margin-top: 25px;

      > .label {
        width: 150px;

        a {
          text-decoration: underline;
          color: blue;
          cursor: pointer;
        }
      }

      > .value {
        flex: 1;
        font-size: 48px;

        text-align: right;
      }

      > .value.pwd {
        font-size: 30px;
      }
    }

    progress {
      border: 0;
      height: 5px;
      // background: rgb(183, 255, 213);
      // color: blue;
    }
  }
}