.menu {
  display: flex;
  flex-direction: column;

  margin: 15px 0;

  .row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    a {
      text-decoration: none;
      color: #1e55b9;
      padding: 7px 15px;
      border: 1px solid #1e55b9;
      border-radius: 5px;

      min-width: 90px;
      text-align: center;
    }

    a.active {
      background-color: #040f33;
      color: #92b1ea;
    }
  }
}