<!-- <pre>{{list | json}}</pre> -->

<svg class="progress-ring" [attr.width]="size" [attr.height]="size" [style.transform]="transformValue">
    <circle *ngFor="let p of list" class="progress-ring-circle" 
        [attr.stroke]="p.progress.color" 
        [attr.stroke-width]="strokeSize" 
        fill="transparent" 
        [attr.r]="p.radius" 
        [attr.cx]="size / 2" 
        [attr.cy]="size / 2"
        [style.stroke-dasharray]="p.strokeDasharray"
        [style.stroke-dashoffset]="p.offset">
    </circle>
</svg>